# --- System / IDE Files ---
.idea/
.vscode/
*.iml
*.iws
.DS_Store
Thumbs.db

# --- Java / Spring Boot (Backend) ---
**/target/
**/build/
*.class
*.jar
*.war
*.ear
.mvn/
help.md

# --- Node / Next.js (Frontend) ---
**/node_modules/
**/FRONT/smartshop-ui/.next/
**/FRONT/smartshop-ui/out/
**/FRONT/smartshop-ui/build/
.env*.local
npm-debug.log*
yarn-debug.log*

# --- Database / Temp ---
*.log
*.sql
temp/